.additional-goods {
  border-top: 1px solid rgba(128, 128, 128, 0.1);
}

.additional-goods__wrapper {
  padding-top: 29px;
  padding-bottom: 0;
}

.additional-goods__title {
  position: relative;

  margin: 0;
  margin-bottom: 33px;

  .oswald;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;

  &::after {
    .pseudo;
    top: 14px;
    right: -20px;
    left: 245px;

    height: 3px;

    background-color: @main-color;
  }
}

.additional-goods__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  padding: 0;
  padding-top: 14px;
  padding-bottom: 17px;
  margin: 0;

  border-top: 1px solid rgba(128, 128, 128, 0.1);

  &:last-child {
    border-bottom: 1px solid rgba(128, 128, 128, 0.1);
  }
}

.additional-goods__type {
  width: 708px;
  margin-bottom: 12px;
  .oswald;
  font-size: 16px;
  line-height: 16px;
  .text-transform;
}

.additional-goods__data,
.additional-goods__price {
  display: inline;
  margin: 0;

  .arial;
  font-size: 14px;
  line-height: 14px;
}

.additional-goods__price {
  margin-bottom: 15px;
}

.additional-goods__bonus {
  position: relative;

  width: 280px;
  min-height: 200px;
  padding-top: 20px;
  padding-bottom: 43px;
  margin-top: 40px;
  margin-bottom: 35px;
  box-sizing: border-box;

  border-top: 1px solid rgba(128, 128, 128, 0.1);

  background-image: url("../img/gift-photo-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-color: @main-color;

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url("../img/gift-photo-mobile@2x.jpg");
    background-size: 280px auto;
  }
}

.additional-goods__bonus-text {
  width: 170px;
  padding-top: 165px;
  margin: 0 auto;

  .arial;
  font-size: 16px;
  line-height: 20px;
  color: @white;
  text-align: center;

  &::before {
    .pseudo;
    top: 65px;
    left: 113px;

    width: 55.5px;
    height: 60px;

    background-image: url("../img/icon-gift.svg");
    background-repeat: no-repeat;
  }
}

@media (min-width: @tablet-width) {
  .additional-goods {
    border: none;
    padding-bottom: 74px;
  }

  .additional-goods__wrapper {
    padding-top: 22px;
    padding-bottom: 67px;
  }

  .additional-goods__title {
    padding-top: 0;
    padding-left: 38px;
    margin-bottom: 80px;

    font-size: 36px;
    line-height: 36px;

    &::before {
      .pseudo;
      top: 22px;
      left: -30px;
      right: 710px;

      height: 3px;

      background-color: @main-color;
    }

    &::after {
      top: 22px;
      right: -30px;
      left: 410px;
    }
  }

  .additional-goods__list {
    align-items: baseline;

    padding-left: 37px;
    padding-right: 35px;
    padding-top: 27px;
    padding-bottom: 27px;

    border-left: 1px solid rgba(128, 128, 128, 0.1);
    border-right: 1px solid rgba(128, 128, 128, 0.1);

    &:last-child {
      border-bottom: 1px solid rgba(128, 128, 128, 0.1);
    }
  }

  .additional-goods__button {
    width: 633px;
    margin: 0 auto;
    margin-top: 10px;
  }

  .additional-goods__type {
    width: 288px;

    font-size: 20px;
  }

  .additional-goods__data,
  .additional-goods__price {
    font-size: 16px;
  }

  .additional-goods__data {
    width: 192px;
    text-align: right;
    margin-right: 0;
    margin-left: auto;
  }

  .additional-goods__price {
    width: 95px;
    text-align: right;
  }

  .additional-goods__bonus {
    width: 708px;
    padding-left: 335px;
    margin-top: 2px;
    margin-bottom: 0;

    border-top: none;

    background-image: url("../img/gift-photo-tablet@1x.jpg");
    background-repeat: no-repeat;
    background-size: 708px 200px;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/gift-photo-tablet@2x.jpg");
    }
  }

  .additional-goods__bonus-text {
    padding-top: 52px;
    margin-left: 90px;
    text-align: left;

    &::before {
      top: 65px;
      left: 90px;
    }
  }
}

@media (min-width: @desktop-width) {
  .additional-goods {
    display: flex;
    justify-content: flex-start;

    padding: 0;
    padding-bottom: 84px;

    border: none;
    box-sizing: border-box;
  }

  .additional-goods__wrapper {
    padding-top: 29px;
    padding-bottom: 0;
    padding-right: 0;
    margin-right: 0;
  }

  .additional-goods__title {
    padding: 0;
    margin-right: 0;

    &::before {
      left: -110px;
      right: 1015px;
    }

    &::after {
      .pseudo;
      right: -283px;
      left: 373px;
    }
  }

  .additional-goods__list {
    width: 896px;
    margin-right: 79px;
    padding: 0;
    padding-top: 16px;
    padding-bottom: 11px;
    box-sizing: border-box;
  }

  .additional-goods__button {
    width: 245px;
    margin: 0;
    margin-left: 35px;
  }

  .additional-goods__type {
    width: 150px;
  }

  .additional-goods__data {
    width: 180px;
    margin-right: 0;

    text-align: left;
  }

  .additional-goods__price {
    width: 45px;
    margin-left: 65px;

    text-align: left;
  }

  .additional-goods__bonus {
    width: 245px;
    margin-top: 144px;
    padding-left: 0;
    padding-bottom: 0;

    border: none;

    background-image: url("../img/gift-photo-desktop@1x.jpg");
    background-repeat: no-repeat;
    background-size: 245px 289px;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/gift-photo-desktop@2x.jpg");
      background-size: 245px auto;
    }
  }

  .additional-goods__bonus-text {
    padding-top: 167px;
    padding-bottom: 40px;
    margin: 0 auto;
    text-align: center;

    &::before {
      top: 65px;
      left: 96px;
    }
  }
}
