.advantages {
  position: relative;

  padding-top: 18px;
  padding-bottom: 20px;
}

.advantages__title {
  margin: 0;
  padding-bottom: 30px;

  .oswald;
  font-size: 36px;
  font-weight: 400;
  line-height: 60px;
  color: @black;
}

.advantages__list {
  padding: 0;
  margin: 0;

  list-style: none;
}

.advantages__item {
  position: relative;

  width: 200px;
  margin-right: 0;
  margin-left: auto;
  padding-bottom: 26px;

  .arial;

  &::before {
    .pseudo;
    top: -3px;
    left: -79px;
    width: 60px;
    height: 60px;
    background-color: @main-color;
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }
}

.advantages__item--leaf {
  &::before {
    background-image: url("../img/advantage-leaf@1x.png");
  }
}

.advantages__item--powder {
  &::before {
    background-image: url("../img/advantage-powder@1x.png");
  }
}

.advantages__item--dining {
  &::before {
    background-image: url("../img/advantage-dining@1x.png");
  }
}

.advantages__item--clock {
  &::before {
    background-image: url("../img/advantage-clock@1x.png");
  }
}

.advantages__item br {
  display: none;
}

@media (min-width: @tablet-width) {
  .advantages {
    padding-top: 45px;
    padding-bottom: 75px;
    border-bottom: 1px solid @light-grey;
  }

  .advantages__title {
    margin-bottom: 155px;

    font-size: 60px;
  }

  .advantages__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .advantages__item {
    width: 324px;
    margin-left: 0;
    font-size: 16px;
    line-height: 24px;

    &::before {
      width: 80px;
      height: 80px;
      top: -112px;
      left: 4px;
    }

    &--leaf,
    &--powder {
      margin-bottom: 220px;
    }
  }

  .advantages__item br {
    display: block;
  }
}

@media (min-width: @desktop-width) {
  .advantages {
    padding-top: 70px;
    padding-bottom: 15px;
    border-bottom: none;
  }

  .advantages__item {
    width: 245px;

    &::before {
      top: -111px;
      left: 0;
    }
  }
}
