.catalog {
  .padding;
}

.catalog__title {
  font-size: 36px;
  font-weight: 400;
  line-height: 60px;
  color: @black;
}

.catalog-link {
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  color: @black;
  .text-transform;
  text-decoration: none;
    &::after {
      .pseudo;
      width: 24px;
      height: 11px;
      background-image: url("../img/icon-right-arrow-long.svg");
    }
}
