.catalog {
  .padding;
}

.catalog__title {
  font-size: 36px;
  font-weight: 400;
  line-height: 60px;
  color: @black-color;
}

.catalog-card__title {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: @black-color;
  .text-transform;
}

.catalog-card__link {
  text-decoration: none;
}

.catalog-card__type {
  font-size: 12px;
  line-height: 18px;
}

.catalog-card__title--text-color {
  color: @text-color;
}

.catalog-card__comment {
  font-size: 12px;
  line-height: 16px;
}

.button--change-color {
  background-color: @grey-color;
  color: @text-color;
}