.catalog-card__title {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: @black;
  .text-transform;
}

.catalog-card__link {
  text-decoration: none;
}

.catalog-card__type {
  font-size: 12px;
  line-height: 18px;
}

.catalog-card__title--text-color {
  color: @text-color;
}

.catalog-card__comment {
  font-size: 12px;
  line-height: 16px;
}
