.features-card {
  position: relative;

  padding-top: 31px;
  padding-bottom: 20px;
  .padding (20px);
  box-sizing: border-box;

  background-color: @light-grey;

  &::before {
    .pseudo;
    top: 25px;
    left: 22px;

    width: 50px;
    height: 50px;
    border-radius: 50%;

    background-color: @main-color;
  }

  &::after {
    .pseudo;
    top: 23px;
    left: 30px;

    width: 35px;
    height: 49px;

    background-image: url("../img/icon-cat-slim.svg");
    background-repeat: no-repeat;
  }
}

.features-card--cat-pro {
  margin-top: 21px;

  &::after {
    .pseudo;
    top: 35px;
    left: 13px;

    width: 67px;
    height: 28px;

    background-image: url("../img/icon-cat-pro.svg");
    background-repeat: no-repeat;
  }
}

.features-card__title {
  position: relative;

  margin: 0;
  margin-bottom: 29px;
  padding-left: 72px;
  box-sizing: border-box;

  .oswald;
  font-size: 24px;
  line-height: 37.02px;
  font-weight: 400;
  .text-transform;
  color: @black;
}

.features-card__description {
  position: relative;

  margin-bottom: 42px;

  .arial;

  &::after {
    .pseudo;
    bottom: -23px;
    right: 0;
    width: 240px;
    height: 1px;
    background-color: rgba(128, 128, 128, 0.1);
  }
}

.features-card__link {
  position: relative;

  display: block;
  width: 150px;

  .oswald;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  color: @black;
  .text-transform;
  text-decoration: none;

  &::after {
    .pseudo;
    top: 4px;
    right: 29px;

    width: 24px;
    height: 11px;

    background-image: url("../img/icon-right-arrow-long.svg");
    background-repeat: no-repeat;
  }

  &:hover {
    &::after {
      right: 20px;

      width: 33px;
      height: 11px;
      background-image: url("../img/icon-right-arrow-verylong.svg");
    }

    &:active {
      &::after {
        opacity: 0.3;
      }
    }
  }

  &:active {
    color: rgba(17, 17, 17, 0.3);
  }
}

@media (min-width: @tablet-width) {
  .features-card {
    padding-top: 76px;
    padding-left: 53px;
    padding-right: 280px;
    padding-bottom: 62px;

    &::before {
      top: 91px;
      left: 447px;
      width: 200px;
      height: 200px;
    }

    &::after {
      width: 140px;
      height: 194px;

      top: 80px;
      left: 476px;
    }
  }

  .features-card__title {
    margin-bottom: 25px;
    padding-left: 0;

    font-size: 36px;
  }

  .features-card--cat-pro {
    margin-top: 30px;
    padding-right: 315px;

    &::after {
      top: 135px;
      left: 412px;

      width: 268px;
      height: 112px;
    }
  }

  .features-card__description {
    padding: 0;
    margin-bottom: 56px;

    font-size: 16px;
    line-height: 24px;

    &::after {
      display: none;
    }
  }

  .features-card__link {
    width: 170px;
    padding-left: 0;
    font-size: 20px;
    line-height: 20px;

    &::after {
      top: 5px;
      right: 18px;
    }

    &:hover {
      &::after {
        right: 9px;
      }
    }
  }
}

@media (min-width: @desktop-width) {
  .features-card {
    width: 570px;
    padding-top: 77px;
    padding-left: 50px;
    padding-right: 55px;
    padding-bottom: 61px;
    margin-right: 40px;

    &::before {
      top: 48px;
      left: 52px;

      width: 100px;
      height: 100px;
    }

    &::after {
      top: 42px;
      left: 66px;

      width: 70px;
      height: 97px;
    }
  }

  .features-card--cat-pro {
    margin: 0;
    margin-left: 40px;

    &::after {
      top: 70px;
      left: 34px;

      width: 134px;
      height: 156px;
    }
  }

  .features-card__title {
    padding-left: 164px;
    margin-bottom: 74px;
  }

  .features-card__description {
    margin-bottom: 31px;
  }

  .features-card__link {
    padding-left: 2px;
    background-position: 130px 3px;
  }
}
