.footer__contacts {
  min-height: 114px;
  .padding;
}

.footer__title {
  width: 293px;
  font-size: 16px;
  line-height: 20px;
  color: @black;
  .text-transform;
}

.footer__address {
  width: 140px;
  font-size: 14px;
  line-height: 20px;
}

.footer__color-wrapper {
  background-color: @light-grey;
}
