.footer__contacts {
  display: flex;
  justify-content: space-between;

  min-height: 114px;
  padding: 0;
  padding-top: 14px;
  padding-bottom: 14px;
  box-sizing: border-box;
}

.footer__title {
  width: 192px;
  margin: 0;
  padding-top: 14px;

  .oswald;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: @black;
  .text-transform;
}

.footer__address {
  width: 185px;

  .arial;
  font-size: 14px;
  line-height: 20px;
  text-align: left;

  & br {
    display: none;
  }
}

.footer__color-wrapper {
  padding-top: 38px;
  padding-bottom: 18px;

  background-color: @light-grey;
}

.footer__logo {
  display: block;
  padding-bottom: 28px;

  text-align: center;
  border-bottom: 1px solid rgba(128, 128, 128, 0.1);

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.footer__contacts--background-color {
  background-color: @light-grey;
}

@media (min-width: @tablet-width) {
  .footer__contacts {
    padding-bottom: 40px;
    padding-top: 48px;
  }

  .footer__title {
    width: 203px;
    margin-left: 42px;
    padding-top: 17px;

    font-size: 20px;
    font-weight: 400;
    line-height: 25px;
  }

  .footer__address {
    width: 166px;
    margin-right: 42px;

    font-size: 16px;
    line-height: 20px;
    text-align: right;

    & br {
      display: block;
    }
  }

  .footer__color-wrapper {
    padding-bottom: 50px;
  }

  .footer__links {
    display: flex;
    justify-content: space-between;
  }

  .footer__logo {
    padding-top: 24px;
    padding-bottom: 0;

    border: none;
  }

  .copyright {
    width: 165px;
  }
}

@media (min-width: @desktop-width) {
  .footer {
    position: relative;
  }

  .footer__contacts {
    position: absolute;

    width: 570px;
    top: 94px;
    left: 5.5%;
    padding-bottom: 60px;
    padding-top: 60px;
    padding-left: 75px;
    padding-right: 78px;
    box-sizing: border-box;

    background-color: @white;
  }

  .footer__title {
    margin: 0;
    padding: 0;
    padding-top: 4px;
  }

  .footer__address {
    margin: 0;
    padding: 0;
    padding-top: 2;
    text-align: left;
  }

  .footer__color-wrapper {
    padding-bottom: 45px;

    &--padding {
      padding-top: 45px;
    }
  }

  .footer__links {
    .padding (0);
    box-sizing: border-box;
  }
}
