.form-group {
  padding-bottom: 5px;
  padding-top: 12px;
}

.form-group__title {
  position: relative;

  margin: 0;
  padding-bottom: 32px;

  .oswald;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;

  &::after {
    .pseudo;
    top: 13px;
    right: -20px;

    width: 99px;
    height: 3px;

    background-color: @main-color;
  }
}

.form-group__title--comments {
  &::after {
    .pseudo;
    top: 13px;
    right: -20px;

    width: 158px;
    height: 3px;

    background-color: @main-color;
  }
}

.form-group__text-area {
  min-height: 150px;
  padding-bottom: 10px;
  padding-top: 10px;
  .padding (13px);
  box-sizing: border-box;

  .oswald;
  font-size: 16px;
  font-weight: 400;
  .text-transform;
  color: @grey;
}

.form-group__title--additional {
  padding-top: 12px;
  padding-bottom: 40px;

  &::after {
    .pseudo;
    top: 25px;
    right: -20px;

    width: 136px;
    height: 3px;

    background-color: @main-color;
  }
}

.form-group__checkbox-wrapper {
  display: flex;
  flex-direction: column;

  padding-bottom: 12px;
}

@media (min-width: @tablet-width) {
  .form-group {
    padding-top: 25px;
    padding-bottom: 20px;
  }

  .form-group__title {
    padding-bottom: 75px;

    font-size: 36px;
    line-height: 36px;

    &::before {
      .pseudo;
      top: 21px;
      left: -70px;

      width: 30px;
      height: 3px;

      background-color: @main-color;
    }

    &::after {
      .pseudo;
      top: 21px;
      right: -70px;

      width: 146px;
      height: 3px;

      background-color: @main-color;
    }
  }

  .form-group__title--comments {
    &::after {
      .pseudo;
      top: 21px;
      right: -70px;

      width: 480px;
      height: 3px;

      background-color: @main-color;
    }
  }

  .form-group__text-area {
    width: 630px;
    min-height: 174px;
    padding-left: 15px;
    box-sizing: border-box;

    font-size: 20px;
    line-height: 30px;
  }

  .form-group__title--additional {
    padding-top: 18px;
    padding-bottom: 65px;

    &::before {
      top: 41px;
    }

    &::after {
      .pseudo;
      top: 41px;
      right: -70px;

      width: 447px;
      height: 3px;

      background-color: @main-color;
    }
  }

  .form-group__checkbox-wrapper {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;

    padding: 0;
    margin: 0;
  }

  .form-group--checkbox {
    padding-top: 25px;
    padding-bottom: 12px;
  }
}

@media (min-width: @desktop-width) {
  .form-group__title {
    &::before {
      left: -110px;

      width: 70px;
    }

    &::after {
      width: 778px;
      right: -110px;
    }
  }

  .form-group__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .form-group__input {
    width: 570px;
  }

  .form-group__title--comments {
    padding-top: 2px;

    &::before {
      top: 25px;
    }

    &::after {
      top: 25px;
      right: -110px;

      width: 1110px;
    }
  }

  .form-group__text-area {
    width: 1220px;
  }

  .form-group__title--additional {
    padding-top: 21px;

    &::before {
      top: 43px;
    }

    &::after {
      top: 43px;
      right: -110px;

      width: 1080px;
    }
  }

  .form-group--checkbox {
    padding-bottom: 5px;
  }
}
