.form {
  border-top: 1px solid rgba(128, 128, 128, 0.1);
}

.form__title {
  padding-top: 15px;
  padding-bottom: 25px;

  .oswald;
  font-size: 36px;
  font-weight: 400;
  line-height: 60px;
}

.form__group-wrapper {
  border-bottom: 1px solid rgba(128, 128, 128, 0.1);
  border-top: 1px solid rgba(128, 128, 128, 0.1);
}

.form__intro {
  padding-bottom: 21px;

  .oswald;
  .text-transform;
}

.form__group {
  padding-bottom: 10px;
  padding-top: 15px;
}

.form__group--radio {
  padding-top: 22px;
}

.form__button {
  padding-top: 0;
}

.form__note {
  margin: 0;
  padding-top: 17px;
  .padding (26px);
  padding-bottom: 32px;

  .arial;
  line-height: 16px;
  text-align: center;
}

.form__item {
  padding-top: 5px;
}

@media (min-width: @tablet-width) {
  .form {
    border-top: none;
  }

  .form__title {
    padding-top: 50px;
    padding-bottom: 55px;

    font-size: 60px;

    border-top: none;
  }

  .form__group-wrapper {
    border-bottom: none;
    border-top: none;
  }

  .form__intro {
    padding-bottom: 50px;
    padding-left: 40px;
    box-sizing: border-box;

    font-size: 20px;
    line-height: 30px;
  }

  .form__group {
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 0;
    padding-top: 15px;
    box-sizing: border-box;

    border-bottom: none;
  }

  .form__group--input {
    padding-bottom: 50px;
  }

  .form__group--radio {
    width: 630px;
    padding-top: 25px;
    padding-bottom: 14px;
    padding-left: 25px;
    margin-bottom: 35px;

    border: 1px solid rgba(128, 128, 128, 0.1);
  }

  .form__item {
    display: flex;

    padding-top: 16px;
  }

  .form__button {
    width: 283px;
    height: 52px;
    margin-bottom: 72px;
    margin-left: 42px;
    margin-top: 2px;
    margin-right: 47px;

    font-size: 20px;
    line-height: 20px;
  }

  .form__note {
    padding-left: 18px;

    font-size: 16px;
  }
}

@media (min-width: @desktop-width) {
  .form__group {
    padding-bottom: 14px;
    padding-top: 8px;
    .padding (0);
  }

  .form__title {
    padding-top: 0;
    padding-left: 0;
    box-sizing: border-box;
  }

  .form__intro {
    padding-left: 0;
  }

  .form__group--wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .form__group--input,
  .form__group--radio {
    width: 570px;
  }

  .form__group--input {
    margin: 0;
    margin-right: 30px;
    padding-right: 20px;
    padding-top: 15px;
    box-sizing: content-box;
  }

  .form__group--radio {
    margin: 0;
    margin-left: 30px;
    margin-top: 15px;
    padding-left: 39px;
    padding-top: 24px;
    box-sizing: border-box;
  }

  .form__item {
    padding-top: 0;
    padding-left: 82px;
  }

  .form__button {
    width: 568px;
    margin-bottom: 82px;
    margin-left: 0;
    margin-right: 70px;
  }

  .form__note {
    padding-top: 14px;
  }
}
