.input {
  position: relative;

  display: flex;

  margin-bottom: 14px;
}

.input__label {
  margin-top: 10px;
  margin-right: 13px;

  .oswald;
  font-size: 16px;
  .text-transform;
  white-space: nowrap;
}

.input__input-field {
  min-width: 160px;
  width: 100%;
  height: 45px;
  padding-top: 5px;
  padding-left: 12px;
  padding-right: 12px;
  margin-right: 0;
  box-sizing: border-box;

  .oswald;
  font-size: 16px;
  font-weight: 400;
  .text-transform;
  color: @grey;

  border: 1px solid rgba(197, 198, 198, 0.5);
  outline: none;

  &::placeholder {
    .oswald;
    font-size: 16px;
    font-weight: 400;
    .text-transform;
    color: rgba(68, 68, 68, 0.6);
  }

  &:hover {
    border: 1px solid rgba(197, 198, 198, 1);
  }

  &:focus,
  &:active {
    border: 1px solid @grey;
    box-shadow: inset 0 0 0 1px @grey;
  }

  &:invalid {
    border: 1px solid #ff8282;
    box-shadow: inset 0 0 0 1px #ff8282;
  }
}

.input__cat-name {
  padding-left: 16px;
}

.input__weight {
  padding-left: 19px;
}

.input__email,
.input__phone {
  padding-top: 4px;
  padding-right: 45px;
  padding-left: 13px;
}

.input__phone {
  padding-left: 12px;
}

.input__link {
  position: absolute;
  top: 16px;
  left: 247px;

  display: block;
  width: 17px;
  height: 13px;

  &--phone {
    width: 20px;
    height: 20px;
  }
}

.input__icon {
  &-mail,
  &-phone {
    &:active {
      fill: #68b738;
    }
  }
}

.input__email:invalid ~ .input__link .input__icon-mail,
.input__phone:invalid ~ .input__link .input__icon-phone {
  fill: #ff8282;
}

@media (min-width: @tablet-width) {
  .input__label {
    margin-bottom: 23px;
    margin-right: 15px;
    margin-top: 11px;
    margin-left: 1px;

    font-size: 20px;
    line-height: 20px;
  }

  .input__input-field {
    height: 52px;
    padding-left: 14px;
    padding-top: 0;

    font-size: 20px;
    line-height: 20px;

    &::placeholder {
      font-size: 20px;
      line-height: 20px;
    }
  }

  .input__cat-name {
    padding-left: 21px;
    padding-top: 5px;
  }

  .input__weight {
    padding-left: 24px;
    padding-top: 3px;
  }

  .input__email {
    padding-left: 26px;
    padding-top: 5px;
  }

  .input__phone {
    padding-left: 20px;
    padding-top: 3px;
    margin-left: 0;
  }

  .input__link {
    top: 19px;
    left: 596px;

    &--phone {
      top: 17px;
      left: 596px;
    }
  }
}

@media (min-width: @desktop-width) {
  .input__link {
    top: 19px;
    left: 533px;

    &--phone {
      top: 18px;
      left: 531px;
    }
  }

  .input__input-field {
    padding-right: 55px;
  }

  .input__label--email {
    margin-right: 22px;
  }

  .input__email {
    padding-left: 18px;
  }

  .input__label {
    margin-left: 0;
  }
}
