.living-example {
  padding: 0;
  margin: 0;
}

.living-example__wrapper {
  background-color: @light-grey;
  padding-top: 15px;
  padding-bottom: 35px;
}

.living-example__title {
  margin: 0;
  margin-bottom: 25px;

  .oswald;
  font-size: 36px;
  font-weight: 400;
  line-height: 60px;
  color: @black;
}

.living-example__legend {
  .arial;
  width: 275px;
}

.living-example__text {
  line-height: 20px;
  color: @black;
  .text-transform;
}

.living-example__span {
  font-size: 16px;
  line-height: 20px;
  color: @black;
  .text-transform;
}

@media (min-width: @tablet-width) {
  .living-example {
    height: 1082px;
    background-color: @light-grey;
  }
}

@media (min-width: @desktop-width) {
  .living-example {
    height: 578px;
  }
}
