.living-example {
  .padding;
  background-color: @grey-color;

}

.living-example__title {
  font-size: 36px;
  font-weight: 400;
  line-height: 60px;
  color: @black-color;
}

.living-example__text {
  line-height: 20px;
  color: @black-color;
  .text-transform;
}

.living-example__span {
  font-size: 16px;
  line-height: 20px;
  color: @black-color;
  .text-transform;
}
