.main-nav__toggle {
  position: absolute;
  top: -30px;
  right: -45px;
  width: 24px;
  height: 18px;
  background-image: url("../img/icon-mobile-menu.svg");
  background-color: none;
  border: none;
}

.main-nav {
  position: relative;
  margin: 0 auto;
}

@media (min-width: @tablet-width) {
  .main-nav {
    width: auto;
    margin: 0;
  }

  .main-nav__toggle {
    display: none;
  }
}
