.page-header {
  display: flex;
  flex-direction: column;

  padding-top: 10px;

  background-color: @white;
}

.page-header--margin-bottom {
  margin-bottom: 0;
}

.page-header__logo {
  display: block;

  width: 191px;
  height: 38px;
  padding-bottom: 17px;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.page-header__intro {
  position: relative;
}

.page-header__background {
  min-height: 305px;
  width: 320px;
  padding-bottom: 27px;
  margin-bottom: 135px;
  box-sizing: border-box;

  background-image: url("../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: 320px 305px;
  background-color: @main-color;

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url("../img/index-background-mobile@2x.jpg");
  }
}

.page-header__title {
  padding-top: 27px;
  margin-top: 0;
  margin-bottom: 25px;

  .oswald;
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
  text-align: center;
  color: @white;
}

.page-header__slogan {
  margin-bottom: 28px;
  box-sizing: border-box;

  .oswald;
  line-height: 14px;
  .text-transform;
  text-align: center;
  color: @white;
}

.page-header__img {
  position: absolute;
  top: 165px;

  width: 280px;
}

.page-header__button {
  display: block;
  margin-bottom: 21px;
}

@media (min-width: @tablet-width) {
  .page-header {
    position: relative;

    padding-top: 25px;
  }

  .page-header__wrapper {
    display: flex;
    align-self: center;

    width: 768px;
    padding-right: 30px;
    box-sizing: border-box;
  }

  .page-header__logo {
    width: 173px;
    height: 58px;
    margin: 0;
    padding: 0;
  }

  .page-header__intro {
    display: flex;
    flex-wrap: wrap;

    width: 768px;
    min-height: 860px;
    padding-top: 52px;
    padding-left: 88px;
    padding-right: 88px;
    margin: 0 auto;
    margin-bottom: 2px;
    box-sizing: border-box;
  }

  .page-header__background {
    width: 768px;
    background-image: none;
    background-color: transparent;
  }

  .page-header__title {
    width: 505px;
    height: 120px;
    margin: 0;
    margin-bottom: 41px;
    padding: 0;

    font-size: 60px;
    line-height: 60px;
    color: @black;
    text-align: left;
  }

  .page-header__slogan {
    width: 380px;
    margin: 0;
    margin-bottom: 20px;
    padding: 0;

    font-size: 20px;
    line-height: 20px;
    color: @black;
    text-align: left;
  }

  .page-header__button {
    position: absolute;
    bottom: 506px;
    left: 119px;

    width: 245px;
    height: 52px;

    font-size: 20px;
    line-height: 20px;
    padding-top: 14px;
  }

  .page-header__img {
    top: 253px;
    left: 29px;

    width: 709px;
    margin: 0;
  }
}

@media (min-width: @desktop-width) {
  .page-header {
    position: relative;
    padding-bottom: 18px;
    padding-top: 54px;
    margin-bottom: 78px;

    background-image: url("../img/index-background-desktop@1x.jpg"),
      linear-gradient(to right, transparent 0, @main-color 0);
    background-repeat: no-repeat;
    background-size: 720px 696px;
    background-position: calc(50% + 359px) top;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/index-background-desktop@2x.jpg");
    }
  }

  .page-header--margin-bottom {
    min-height: 59px;
    padding-bottom: 69px;
    padding-top: 53px;
    margin-bottom: 0;

    background-image: none;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: none;
    }
  }

  .page-header__wrapper {
    width: 1300px;
    .padding (40px);
  }

  .page-header__logo-wrapper {
    padding: 0;
  }

  .page-header__logo {
    width: 202px;
    height: 59px;
    margin-left: 0;
  }

  .page-header__intro {
    flex-direction: column;

    position: relative;

    width: 1300px;
    min-height: 558px;
    padding-top: 103px;
    padding-left: 120px;
    padding-right: 120px;
  }

  .page-header__background {
    margin-left: 0;
    padding-left: 0;
  }

  .page-header__img {
    position: absolute;
    top: 22px;
    left: 490px;

    width: 552px;
  }

  .page-header__button {
    top: 337px;
    left: 120px;
  }
}
