.site-list {
  list-style: none;
}

.site-list__item {
  font-size: 20px;
  line-height: 20px;
  font-weight: 600;
  .text-transform;
}

.site-list__link {
  text-decoration: none;
  color: @black;
}
