.button {
  display: block;
  width: 280px;
  height: 40px;
  padding-top: 10px;

  font-size: 16px;
  line-height: 20px;
  text-align: center;
  .text-transform;
  text-decoration: none;
  color: @white;

  background-color: @main-color;
  border: none;
  box-sizing: border-box;
}

.padding (@value) {
  padding-left: @value;
  padding-right: @value;
}

.text-transform {
  text-transform: uppercase;
}

.pseudo {
  content: "";
  position: absolute;
}
